Flask == 1.1.1
flask-sqlalchemy == 2.4.1
flask-cors == 3.0.8
mysqlclient == 1.4.6
pytest == 5.4.1
Flask-Caching == 1.8.0
beautifulsoup4 == 4.8.2
requests == 2.20.0
flask-security == 3.0.0
email-validator == 1.1.0